.mainContent {
    line-height:1.8em;
    font-size:15px;
    background-color: #FDFBF4;
    padding-top: 50px;
    padding-bottom: 120px;
}

.mainContent h2 {
    font-weight:600;
}

.mainContent h3, .mainContent h6 {
    color: #052C39;
}

.mainContent h4 {
    color: #052C39;
    font-size:1.4em;
}

.title {
    padding: 40px 0;
    color: #052C39;

    h1{
        font-size: 64px;
    }
}