
.heading_2,
.heading_3,
.heading_4 {
    list-style-type: none;
    margin-bottom: 8px;
}

.heading_2 {
    font-weight: bold;
}

.heading_3 {
    margin-left: 15px;
}

.heading_4 {
    margin-left: 30px;
}

.heading_2Link,
.heading_3Link,
.heading_4Link {
    text-decoration: none;
    color: inherit;
}

.container {
    padding-top: 30px;
}