@import './Sora';

$cp-font-family-primary: 'Sora Regular';
$cp-font-family-secondary: 'Ubuntu';
$sora-regular: 'Sora Regular';
$sora-bold: 'Sora Bold';
$sora-light: 'Sora Light';
$sora-semibold: 'Sora SemiBold';
