// breakpoint
$breakpoint-small: 480px;
$breakpoint-medium: 640px;
$breakpoint-mobile: 991px;
$breakpoint-desktop: 992px;

$desktop-width: 1367px;

// colors
$cp-link-color: #0077b6;
$cp-hover-link-color: #023e8a;

$cp-dark-shade-0-color: #000000;
$cp-dark-shade-1-color: #1C1C1C;
$cp-dark-shade-2-color: #393939;
$cp-dark-shade-3-color: #555555;
$cp-dark-shade-4-color: #717171;
$cp-dark-shade-5-color: #8E8E8E;
$cp-dark-shade-6-color: #AAAAAA;
$cp-dark-shade-7-color: #C6C6C6;
$cp-dark-shade-8-color: #E3E3E3;
$cp-dark-shade-9-color: #FFFFFF;
$cp-accent-color: #fd3c84;
$cp-accent-secondary-color: #2A9D8F;
$cp-accent-tertiary-color: #4DAFFF;

$cp-gradient-start-color: #2A9D8F;
$cp-gradient-end-color: #24877B;
$cp-hover-gradient-start-color: #3ECCBB;
$cp-hover-gradient-end-color: #2EAFA0;

$cp-sign-up-button-color: #FFD166;
$cp-hover-sign-up-button-color: #FFC12A;
$cp-dark-mint-green: #01c27c;
$cp-light-mustard: #FFD166;
$cp-colonial-white: #FEEDC2;
$cp-firefly-transparent: #052b380d;
$cp-firefly: #052C39;
$cp-bianca: #FDFBF4;
$cp-greenish-cyan: #01C27C;
$cp-white: #fff;
$cp-white-transparent: #fff6e0;
