.estimation-section {
  background-color: $cp-firefly;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(mobile) {
    padding-top: 20px;
  }

  .section-container {
    background-color: $cp-firefly;
    max-width: 1366px;
    @include breakpoint(mobile) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @include breakpoint(desktop) {
      padding-left: 139px;
      padding-right: 139px;
    }
  }
}
