.contactForm {
    font-family: $sora-regular;
    color: $cp-firefly;
    background-color: $cp-bianca;

    &__container {
        max-width: 1366px;
        margin: auto;
        padding: 50px 139px 200px;

        @include breakpoint(mobile) {
            padding: 30px 10.1% 40px;
        }

        @include breakpoint(small) {
            padding: 10px 30px 40px;
        }
    }

    &__title {
        h2 {
            font-size: 64px;
            font-family: $sora-regular !important;

            @include breakpoint(mobile) {
                font-size: 48px;
            }

            @include breakpoint(small) {
                font-size: 34px;
            }
        }
    }

    &__input {
        margin-top: 30px;
        max-width: 536px;

        &__group {
            display: flex;
            flex-direction: column;
            margin-bottom: 38px;

            label {
                font-family: $sora-bold;
                font-size: 24px;

                @include breakpoint(mobile) {
                    font-size: 18px;
                }

                @include breakpoint(small) {
                    font-size: 14px;
                }
            }

            input, textarea{
                padding: 25px;
                margin-top: 10px;
                border: 1px solid $cp-firefly;
                border-radius: 10px;
                outline: none;
                height: 69px;
                background-color: transparent;

                @include breakpoint(small) {
                    height: 39px;
                }
            }
            
            textarea {
                height: 363px;

                @include breakpoint(small) {
                    height: 200px;
                }
            }
        }
    }
}